<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Info</title>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/css/transaction.css">
    <link rel="stylesheet" href="./assets/css/side_navbar.css">
    <link rel="stylesheet" href="./assets/css/global.css">
</head>
<body>
      <!-- sidebar -->
      <section class="sidebar">
        <div class="sidebar_burger">
            <i class="fas fa-arrow-alt-circle-left"></i>close
        </div>
        <div class="sidebar_wrapper">
            <div class="sidebar_header">
                <img src="./assets/image/logo.png" alt="">
            </div>
            <ul class="sidebar_items">
                <a href="./index.html" class="sidebar_item"><li >Home</li></a>
                <a href="./transaction.html" class="sidebar_item"><li >transaction</li></a>
                <a href="./workorder_info.html" class="sidebar_item"><li>Working Info</li></a>
            </ul>
            <a href="./index.html" class="login_btn">Logout</a>
        </div>
    </section>
    <!-- main_content -->
    <section class="transaction main_content">
        <div class="header">
            <div class="header_menu">
                <button class="burger_menu"><i class="fas fa-bars"></i><span class="burger_text">MENU</span></button>
                <div class="nav_group">
                    <form action="#" class="search_form">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="search_bar" type="text" name="search" id="search" pattern="[a-zA-Z0-9]{1,10}" maxlength="10" oninvalid="setCustomValidity('Language detect (English and Number only), no special character and maximum 10 character')"  oninput="setCustomValidity('')" placeholder="Track&trace" autocomplete="off" class="form-control">
                                <div class="input-group-prepend">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="mt-5 main_content_body">
        <h4>Working Info</h4>
        <select name="" id="work_type" class="form-control">
            <option value="own">ให้งานเรา</option>
            <option value="contact">ให้งานคอนแทค</option>
        </select>
        <hr>
        <form action="#" method="post">
            <div class="work_info_form">
                <div class="form-group">
                    <label for="transaction_order_info" class="form-label">Transaction Order Info</label>
                    <input type="text" class="form-control" id="transaction_order_info" name="transaction_order_info">
                </div>
                <div class="form-group">
                    <label for="work_truck_id" class="form-label">Work Truck ID</label>
                    <input type="text" class="form-control" id="work_truck_id" name="work_truck_id">
                </div>
            </div>
            <button class="btn btn-primary">Assign work</button>
        </form>
    </div>
    </section>
</body>
<script src="./assets/js/global.js"></script>
<script>
    $('#work_type').change(function(){
        console.log($(this).val())
        if ($(this).val() === 'own'){
            $('.work_info_form').html('<div class="form-group"><label for="transaction_order_info" class="form-label">Transaction Order Info</label><input type="text" class="form-control" id="transaction_order_info" name="transaction_order_info"></div><div class="form-group"><label for="work_truck_id" class="form-label">Work Truck ID</label><input type="text" class="form-control" id="work_truck_id" name="work_truck_id"></div>')
        }
        if($(this).val() === 'contact'){
            $('.work_info_form').html('<div class="form-group"><label for="transaction_order_info" class="form-label">Transaction Order Info</label><input type="text" class="form-control" id="transaction_order_info" name="transaction_order_info"></div><div class="form-group"><label class="form-label">Contact ID</label><input type="text" class="form-control"></div>')
        }
    })
</script>
</html>
