*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --main-color:#7386D5;
    --header-color:#6d7fcc;
    --btn-color:#5bc0de;
}
body{
    background:#EDEDED;
}
h3{
    font-size:24px;
}
ul,li{
    list-style-type:none;
}
p,ul{
    margin-bottom: 0;
}
a,a:hover{
    color:black;
    text-decoration: none;
}

/* main-content */
/* main content */
.main_content{
    width:calc(100% - 0px);
    margin-left:0;
    padding:30px;
    transition: 0.2s ease-in-out;
}

/* HEADER MENU  */
.header{
    background: black;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.header_menu{
    display:flex;
    justify-content: space-between;
    padding:0 25px;
    align-items: center;
    overflow: hidden;
    height:75px;
}
.nav_group{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    min-width:250px;
    color:white;
}
.nav_group .nav_item{
    color:white;
    font-weight:600;
    margin-right:20px;
    font-size:22px;
    padding:7px 25px;
    border-radius:10px; 
}
.nav_group .nav_item_btn{
    padding:7px 25px;
    border-radius:10px;
    background:white;
    font-weight: 700;
    font-size:22px;
    transition: 0.2s;
}
.nav_group .nav_item:hover{
    border:1px solid white;
}
.nav_group .nav_item_btn:hover{
    border:1px solid white;
    background:none;
    color:White;
}
.burger_menu{
    background:white;
    border:none;
    border-radius: 5px;
    padding:10px 20px;
    font-size:18px;
    color:black;
    font-weight:700;
}
.burger_menu i{
    margin-right:15px;
    font-size:20px;
}
.input-group{
    display:Flex;
    align-items:center;
    justify-content: center;
    margin-top:15px;
}
.navbar_items{
    display:flex;
    align-items: center;
}
.search_bar{
    padding:10px;
    border-radius: 10px;
    outline:none;
}
#logout_btn{
    padding:9px 20px;
    background:white;
    color:black;
    font-weight:700 !important;
    border-radius: 5px;
    font-size:18px;
    transition: opacity .3s;
    font-weight: 500;
}
#logout_btn:hover{
    opacity: 0.8;
}
/* MAIN CONTENT BODY */
.main_content_body{
    padding:30px;
    border-radius: 10px;
    background:white;
    margin:20px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.main_content_body p{
    color:#999;
    font-size:1.1rem;
}

.main_content.active{
    width:calc(100% - 250px);
    margin-left:250px;
}

.input-group-prepend{
    cursor:pointer;
    padding:5px;
}
.input-group-prepend i{
    pointer-events: none;
    color:white;
}

/* responsive */
@media screen and (max-width:826px){
    .main_content.active{
    width:calc(100% - 0px);
    margin-left:0;
    }

}
@media screen and (max-width:507px){
    .burger_text{
        display:none;
    }
    .burger_menu i{
        margin:0;
    }
}
