@import './global.css';
/* sidebar */
body{
    background:#fafafa;
}
.sidebar{
    max-width:0px;
    overflow: hidden;
    background:#7386D5;
    height:100vh;
    position:fixed;
    transition:0.2s ease-in-out;
}
.sidebar_wrapper{
    min-width:250px;
    display:Flex;
    flex-direction: column;
}
.sidebar_header{
    background:#6d7fcc;
    padding:20px;
    color:White;
}
.sidebar_items{
    padding:20px 0;
    border-bottom:1px solid #47748b;
}
.sidebar_item{
    cursor: pointer;
    padding:10px;
    transition:background 0.2s ease-in;
    width:100%;
}
.sidebar_item:hover{
    background:white;
}
.sidebar_item:hover a{
    color:#7386D5;
}
.sidebar_item a{
    color:white;
    font-size:1.1rem;
}
.login_btn{
    padding:10px 20px;
    background:white;
    margin:20px 20px;
    text-align: center;
    color: #7386d5;
    border-radius: 5px;
    font-size:13px;
}
/* main content */
.main_content{
    width:calc(100% - 0px);
    margin-left:0;
    padding:30px;
    transition: 0.2s ease-in-out;
}
.header{
    margin:0 auto;
    background:#fff;
    box-shadow:1px 1px 5px rgba(121, 121, 121, 0.1),
    -1px -1px 5px rgba(121, 121, 121,0.1);
}
.header_menu{
    display:flex;
    justify-content: space-between;
    padding:0 25px;
    align-items: center;
}
.burger_menu{
    background:#5bc0de;
    border:none;
    border-radius: 5px;
    padding:5px 15px;
    font-size:14px;
    color:white;
}
.burger_menu i{
    margin-right:5px;
}
.input-group{
    display:Flex;
    align-items:center;
    justify-content: center;
    margin-top:15px;
}
.main_content_body{
    padding:30px 0;
}
.main_content_body p{
    color:#999;
    font-size:1.1rem;
}

.sidebar.active{
    max-width:250px;
}
.main_content.active{
    width:calc(100% - 250px);
    margin-left:250px;
}
.input-group-prepend{
    cursor:pointer;
    padding:15px;
}
.input-group-prepend i{
    pointer-events: none;
}
@media screen and (max-width:454px){
    .main_content.active{
        width:100%;
    }
    .burger_menu i{
        margin:0;
    }
    .burger_text{
        display:none;
    }
}