@import './global.css';

.table .assing_sign{
    background:#D4D1D1;
    border:1px solid #707070;
    padding:7px 16px;
    border-radius:10px;
    
}
.table .loading_sign{
    background:#EFFFCF;
    border:1px solid #EDE473;
    padding:7px 10px;
    border-radius:10px;
}
.table .delivery_sign{
    background:#A3FFA9;
    border:1px solid #80CE94;
    padding:7px 10px;
    border-radius:10px;
}