@import './global.css';
.register{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}
.register_form{
    width:600px;
    margin:0 auto;
    padding:25px;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    border-radius:50px 10px 50px 10px;
}
.register_form h2{
    text-align: center;
}
.register_group{
    position:relative;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:30px;
}

.register_group > input{
    margin:10px;
    padding:10px 20px;
    width:100%;
    border-radius:5px;
    outline:none;
    border:none;
    box-shadow: 0 0 10px rgba(105, 104, 104, 0.3);
    transition: 0.2s;
}
.register_group > input:focus{
    box-shadow: 0 0 5px rgba(0,0,0);
}
input:focus{
    border:red;
}
.register_btn_group{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.register_btn{
    outline:none;
    border:2px solid black;
    background:white;
    color:black;
    padding:10px 30px;
    border-radius:5px;
    transition:0.3s;
    font-weight:600;
}
.register_btn:hover{
    background:black;
    color:white;
}
.login_group .login_btn{
    font-weight:600;
    transition:0.2s;
    border-radius: 10px;
    padding:10px 0px;
}
.login_group .login_btn:hover{
    padding:10px 10px;
    background:black;
    color:white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.pattern_xix{
    align-self: flex-start;
    padding:10px;
}
.pattern_xix span{
    color:red;
}
.pattern_xix span::after{
    margin-left:5px;
    font-family: "Font Awesome 5 Free"; 
    content: "\f057";

}
.pattern_xix span.valid{
    color:rgb(14, 209, 14);

}
.pattern_xix span.valid::after{
    content:"\f058";
    animation:zoom 0.3s;
}
@keyframes zoom {
    0%{
        font-size:20px;
    }100%{
        font-size:14px

    }
}
@media screen and (max-width:396px){
    .register_btn_group{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
    }
    .register_btn{
        margin:10px 0;
    }
}