/* sidebar */
.sidebar{
    max-width:0px;
    overflow: hidden;
    background:#7386D5;
    height:100%;
    position:fixed;
    transition:0.2s ease-in-out;
}
.sidebar_wrapper{
    min-width:250px;
    display:Flex;
    flex-direction: column;
}
.sidebar_header{
    background:#6d7fcc;
    padding:20px;
    color:White;
}
.sidebar_items{
    padding:20px 0;
    border-bottom:1px solid #47748b;
}
.sidebar_item li{
    cursor: pointer;
    padding:10px;
    transition:background 0.2s ease-in;
}
.sidebar_item:hover li{
    background:white;
}
.sidebar_item:hover{
    color:#7386D5;
}
.sidebar_item{
    color:white;
    font-size:1.1rem;
}
.login_btn{
    padding:10px 20px;
    background:white;
    margin:20px 20px;
    text-align: center;
    color: #7386d5;
    border-radius: 5px;
    font-size:13px;
    transition: 0.3s;
    font-weight: 700;
}
.login_btn:hover{
    background:rgb(235, 235, 235);

}
.sidebar.active{
    max-width:250px;
}
.sidebar_burger{
    display:none;
}
@media screen and (max-width:826px){
    .sidebar .sidebar_burger{
        display:flex;
        justify-content: flex-end;
        font-size:22px;
        padding:13px;
        color:white;
        font-weight: 500;
        align-items: center;
    }

    .fa-arrow-alt-circle-left{
        margin-right:10px;
    }
    .sidebar{
        z-index:1;
    }
}
